// COLOR PALETTE
$clr1: #ce2e6c;
$clr2: #504658;
$clr3: #ffb5b5;
$clr4: #f0decb;
$clr5: #fff;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;

//BORDERS
$border1: 1px solid $clr1;
$border2: 1px solid $clr2;
